Assignment3/Service References/ServiceReference1/Class1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Class1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22031/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22031/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Interface1_getUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:getUpdate" />
  </wsdl:message>
  <wsdl:message name="Interface1_getUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Interface1_getDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:getDelete" />
  </wsdl:message>
  <wsdl:message name="Interface1_getDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="Interface1">
    <wsdl:operation name="getUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface1/getUpdate" message="tns:Interface1_getUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface1/getUpdateResponse" message="tns:Interface1_getUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/Interface1/getDelete" message="tns:Interface1_getDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Interface1/getDeleteResponse" message="tns:Interface1_getDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Interface1" type="tns:Interface1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUpdate">
      <soap:operation soapAction="http://tempuri.org/Interface1/getUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDelete">
      <soap:operation soapAction="http://tempuri.org/Interface1/getDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Class1">
    <wsdl:port name="BasicHttpBinding_Interface1" binding="tns:BasicHttpBinding_Interface1">
      <soap:address location="http://localhost:22031/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>